@font-face {
  font-family: 'CC Material';
  src: url('fonts/CCMaterial-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/CCMaterial-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CCMaterial-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/CCMaterial-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/CCMaterial-Regular.svg#ca282df53f124b304d63260cc72391b5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

